service cloud.firestore {
  // match /databases/{database}/documents {
  //   match /{document=**} {
  //     allow read, write;
  //   }
  // }
  

  match /databases/{database}/documents {

    match /users/{documetn=**} {
      // allow read: if request.auth.uid != null && request.auth.uid == resource.data.user_id;
      allow read;
    	allow write;
    }
  
    match /answers/{document=**}  {
        allow read: if request.auth.uid != null && request.auth.uid == resource.data.user_id;
        allow write: if request.auth.uid != null;
    }
  }
}